#years-old-1-2 {
    top: 41.2%;
    left: 1.5%;
}
#years-old-2-3 {
    top: 38%;
    left: 2.5%;
}

#years-old-3-4 {
    top: 35%;
    left: 3.5%;
}

#years-old-5 {
    top: 31.7%;
    left: 4.6%;
}

#years-old-6-7 {
    top: 28.5%;
    left: 6.5%;
}

#years-old-7-8 {
    top: 25.5%;
    left: 7.5%;
}

#years-old-8-9 {
    top: 22.3%;
    left: 8.7%;
}

#years-old-11-12 {
    top: 10.3%;
    left: 20.7%;
}

#years-old-12-13 {
    top: 9%;
    left: 23.7%;
}

#years-old-13-14 {
    top: 8%;
    left: 26.5%;
}

#years-old-15 {
    top: 6.3%;
    left: 29%;
}

#years-old-16-17 {
    top: 5.3%;
    left: 32.8%;
}

#years-old-17-18 {
    top: 4%;
    left: 36%;
}

#years-old-18-19 {
    top: 2.8%;
    left: 39.2%;
}

#years-old-21-22 {
    top: 2.8%;
    right: 39.2%;
}

#years-old-22-23 {
    top: 4%;
    right: 36%;
}

#years-old-23-24 {
    top: 5.3%;
    right: 32.8%;
}

#years-old-25 {
    top: 6.3%;
    right: 29%;
}

#years-old-26-27 {
    top: 8%;
    right: 26.5%;
}

#years-old-27-28 {
    top: 9%;
    right: 23.7%;
}

#years-old-28-29 {
    top: 10.3%;
    right: 20.7%;
}

#years-old-31-32 {
    top: 22.3%;
    right: 8.7%;
}

#years-old-32-33 {
    top: 25.5%;
    right: 7.5%;
}

#years-old-33-34 {
    top: 28.5%;
    right: 6.5%;
}

#years-old-35 {
    top: 31.7%;
    right: 4.6%;
}

#years-old-36-37 {
    top: 35%;
    right: 3.5%;
}

#years-old-37-38 {
    top: 38%;
    right: 2.5%;
}

#years-old-38-39 {
    top: 41.2%;
    right: 1.5%;
}

#years-old-41-42 {
    bottom: 41.2%;
    right: 1.2%;
}

#years-old-42-43 {
    bottom: 38%;
    right: 2.6%;
}

#years-old-43-44 {
    bottom: 34.8%;
    right: 3.9%;
}

#years-old-45 {
    bottom: 31.6%;
    right: 4.6%;
}

#years-old-46-47 {
    bottom: 28.5%;
    right: 6.5%;
}

#years-old-47-48 {
    bottom: 25.5%;
    right: 7.8%;
}

#years-old-48-49 {
    bottom: 22.2%;
    right: 9.2%;
}

#years-old-51-52 {
    bottom: 10.3%;
    right: 20.2%;
}

#years-old-52-53 {
    bottom: 9%;
    right: 23.5%;
}

#years-old-53-54 {
    bottom: 7.6%;
    right: 26.5%;
}

#years-old-55 {
    bottom: 6%;
    right: 29.2%;
}

#years-old-56-57 {
    bottom: 5.1%;
    right: 33%;
}

#years-old-57-58 {
    bottom: 3.8%;
    right: 36%;
}

#years-old-58-59 {
    bottom: 2.5%;
    right: 39.3%;
}

#years-old-61-62 {
    bottom: 2.5%;
    left: 39.3%;
}

#years-old-62-63 {
    bottom: 3.8%;
    left: 36%;
}

#years-old-63-64 {
    bottom: 5.1%;
    left: 33%;
}

#years-old-65 {
    bottom: 6%;
    left: 29.2%;
}

#years-old-66-67 {
    bottom: 7.6%;
    left: 26.5%;
}

#years-old-67-68 {
    bottom: 9%;
    left: 23.5%;
}

#years-old-68-69 {
    bottom: 10.3%;
    left: 20.2%;
}

#years-old-71-72 {
    bottom: 22.2%;
    left: 9.2%;
}

#years-old-72-73 {
    bottom: 25.5%;
    left: 7.8%;
}

#years-old-73-74 {
    bottom: 28.5%;
    left: 6.5%;
}

#years-old-75 {
    bottom: 31.6%;
    left: 4.6%;
}

#years-old-76-77 {
    bottom: 34.8%;
    left: 3.9%;
}

#years-old-77-78 {
    bottom: 38%;
    left: 2.6%;
}

#years-old-78-79 {
    bottom: 41.2%;
    left: 1.2%;
}
